In [45]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import datetime
import boto3
import psycopg2
import configparser

#### Iniciación de Variables

In [46]:
cantidad_clientes = np.random.randint(500, 1000) #cantidad de clientes a crear
rdsIdentifier = 'db-proyecto-final-data-science' #nombre de la instancia
fake = Faker() #inicialización para creación de data random

#### Cargamos archivo de configuraciones

In [47]:
config = configparser.ConfigParser()
config.read('escec.cfg')
config.get('IAM', 'ACCESS_KEY')

'AKIA4VJIE5V6D6JH2NL2'

### Creamos Instancia de RDS

In [48]:
aws_conn = boto3.client('rds', aws_access_key_id=config.get('IAM', 'ACCESS_KEY'),
                    aws_secret_access_key=config.get('IAM', 'SECRET_ACCESS_KEY'),
                    region_name='us-east-1')

#### Verificamos Instancias de RDS disponibles

In [49]:
rdsInstanceIds = []

response = aws_conn.describe_db_instances()
for resp in response['DBInstances']:
    rdsInstanceIds.append(resp['DBInstanceIdentifier'])
    db_instance_status = resp['DBInstanceStatus']

print(f"DBInstanceIds {rdsInstanceIds}")

DBInstanceIds ['db-proyecto-final-data-science']

In [50]:
rdsIdentifier

'db-proyecto-final-data-science'

#### Creación de Servicio RDS

In [51]:
try:
    response = aws_conn.create_db_instance(
            AllocatedStorage=10,
            DBName=config.get('RDS', 'DB_NAME'),
            DBInstanceIdentifier=rdsIdentifier,
            DBInstanceClass="db.t3.micro",
            Engine="postgres",
            MasterUsername=config.get('RDS', 'DB_USER'),
            MasterUserPassword=config.get('RDS', 'DB_PASSWORD'),
            Port=int(config.get('RDS', 'DB_PORT')),
            VpcSecurityGroupIds=[config.get('VPC', 'SECURITY_GROUP')],
            PubliclyAccessible=True
        )
    print(response)
except aws_conn.exceptions.DBInstanceAlreadyExistsFault as ex:
    print("La Instancia de Base de Datos ya Existe.")

La Instancia de Base de Datos ya Existe.

##### Recordemos Esperar unos minutos para consultar la informaicón de la instancia.

##### Obtenemos URL del Host

In [52]:
try:
     instances = aws_conn.describe_db_instances(DBInstanceIdentifier=rdsIdentifier)
     RDS_HOST = instances.get('DBInstances')[0].get('Endpoint').get('Address')
     print(RDS_HOST)
except Exception as ex:
     print("La instancia de base de datos no existe o aun no se ha terminado de crear.")
     print(ex)

db-proyecto-final-data-science.cadi2n4znidj.us-east-1.rds.amazonaws.com

##### Conexión a Base de Datos desde Python

In [176]:
from database_DDL import DDL

try:
     instances = aws_conn.describe_db_instances(DBInstanceIdentifier=rdsIdentifier)
     RDS_HOST = instances.get('DBInstances')[0].get('Endpoint').get('Address')
     print(RDS_HOST)
except Exception as ex:
     print("La instancia de base de datos no existe o aun no se ha terminado de crear.")
     print(ex)

try:
    db_conn = psycopg2.connect(
        database=config.get('RDS', 'DB_NAME'), 
        user=config.get('RDS', 'DB_USER'),
        password=config.get('RDS', 'DB_PASSWORD'), 
        host=RDS_HOST,
        port=config.get('RDS', 'DB_PORT')
    )

    cursor = db_conn.cursor()
    cursor.execute(DDL)
    db_conn.commit()
    print("Base de Datos Creada Exitosamente")
except Exception as ex:
    print("ERROR: Error al crear la base de datos.")
    print(ex)

db-proyecto-final-data-science.cadi2n4znidj.us-east-1.rds.amazonaws.com
Base de Datos Creada Exitosamente

### Lectura data en S3

In [54]:
s3 = boto3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = config.get('IAM', 'ACCESS_KEY'),
    aws_secret_access_key = config.get('IAM', 'SECRET_ACCESS_KEY')
)

for bucket in s3.buckets.all():
    S3_BUCKET_NAME = bucket.name


import io
remoteFileList = []
for objt in s3.Bucket(S3_BUCKET_NAME).objects.all():
    remoteFileList.append(objt.key)
dfs = {}
for remoteFile in remoteFileList:
    try:
        file = s3.Bucket(S3_BUCKET_NAME).Object(remoteFile).get()
        data = file['Body'].read()
        df_temp = pd.read_excel(io.BytesIO(data), engine='openpyxl')
        dfs[remoteFile] = df_temp
    except Exception as ex:
        print("No es un archivo.")
        print(ex)

countries = dfs[remoteFileList[0]]
df = dfs[remoteFileList[1]]
df = df.replace('USA', 'United States')

{'countries.xlsx':      country_id ISO_code Continent         Country
 0             1       AF      Asia     Afghanistan
 1             2       AL    Europe         Albania
 2             3       DZ    Africa         Algeria
 3             4       AD    Europe         Andorra
 4             5       AO    Africa          Angola
 ..          ...      ...       ...             ...
 191         192       VN      Asia         Vietnam
 192         193       EH    Africa  Western Sahara
 193         194       YE      Asia           Yemen
 194         195       ZM    Africa          Zambia
 195         196       ZW    Africa        Zimbabwe

 [196 rows x 4 columns],
 'purchases data.xlsx':       purchase_id                              user_id         country  \
 0        26854356  google-oauth2|102267249947183414840     Switzerland
 1        26854413  google-oauth2|102267249947183414840     Switzerland
 2        26857272       auth0|60e482d0fbcb4800692cdd97         Germany
 3        26860617       auth0|60e4a19f7e80be0071e5db55             USA
 4        26861131       auth0|60842ddc5a12e7006a39238e         Germany
 ...           ...                                  ...             ...
 6072     24136785       auth0|605c97b01b38260069b12505             USA
 6073     24144096       auth0|5ff48f08fed6a900752fa6c6             USA
 6074     24146741       auth0|605db8536eb2390069abe62a  United Kingdom
 6075     24146914       auth0|605dc59b0497600068023158     Switzerland
 6076     24148405       auth0|6059f02b0894ad006984d2a0         Germany

          discountCode packageType                       date
 0          CANCANCAN1    hobbyist  2021-07-06 14:33:08+00:00
 1          CANCANCAN1      trader  2021-07-06 14:35:07+00:00
 2                 NaN    hobbyist  2021-07-06 16:21:26+00:00
 3                 NaN    hobbyist  2021-07-06 18:33:31+00:00
 4                 NaN      trader  2021-07-06 18:48:50+00:00
 ...               ...         ...                        ...
 6072              NaN      trader  2021-03-26 01:49:10+00:00
 6073              NaN      trader  2021-03-26 09:55:12+00:00
 6074  FRIEND-TMK041UH         pro  2021-03-26 11:58:18+00:00
 6075              NaN    hobbyist  2021-03-26 12:05:41+00:00
 6076         ARMIN100      trader  2021-03-26 13:09:40+00:00

 [6077 rows x 6 columns]}

In [65]:
# checkpoint> por hacer:
# -- tranformar data:
#     crear todas las dimensiones (datedim)
#     hacer join con country para sacar country id
# Preguntas a resolver:
    # paises con mayor cantidad de ventas
    # dia y hora con mas ventas
    # analisis de discounts> cual se usa mas en que pais
    # el paquete que mas se utilzia y el de mayores ingresos
    # top package por continente
    # cuantos paquetes por usuario se compran 
    # proporicion de compras con descuento y sin descuento por pais 


datedim

C:\Users\juanj\AppData\Local\Temp\ipykernel_16064\1105220457.py:20: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  datedim['week'] = pd.DatetimeIndex(datedim['date']).week

,date,year,month,quarter,day,week,dayofweek,hour,minute,is_weekend,date_id
3912,2021-01-01,2021,1,1,1,53,4,0,0,0,20211100
3924,2021-01-02,2021,1,1,2,53,5,0,0,0,20211200
310,2021-01-03,2021,1,1,3,53,6,0,0,1,20211300
3958,2021-01-04,2021,1,1,4,1,0,0,0,0,20211400
3973,2021-01-05,2021,1,1,5,1,1,0,0,0,20211500
...,...,...,...,...,...,...,...,...,...,...,...
1004,2021-09-06,2021,9,3,6,36,0,0,0,0,20219600
1023,2021-09-07,2021,9,3,7,36,1,0,0,0,20219700
1042,2021-09-08,2021,9,3,8,36,2,0,0,0,20219800
1053,2021-09-09,2021,9,3,9,36,3,0,0,0,20219900
1079,2021-09-10,2021,9,3,10,36,4,0,0,0,202191000

##### Insertamos Datos en la Tabla de Transacciones

In [26]:
def insertDataToSQL(data_dict, table_name):
     postgres_driver = f"""postgresql://{config.get('RDS', 'DB_USER')}:{config.get('RDS', 'DB_PASSWORD')}@{RDS_HOST}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""    
     df_data = pd.DataFrame.from_records(data_dict)
     try:
          response = df_data.to_sql(table_name, postgres_driver, index=False, if_exists='append')
          print(f'Se han insertado {response} nuevos registros.' )
     except Exception as ex:
          print(ex)

### Insertar dimension fecha

In [208]:
datedim = pd.DataFrame()
datedim['date'] = pd.DatetimeIndex(df['date']).date
datedim['year'] = pd.DatetimeIndex(df['date']).year
datedim['month'] = pd.DatetimeIndex(df['date']).month
datedim['quarter'] = pd.DatetimeIndex(df['date']).quarter
datedim['day'] = pd.DatetimeIndex(df['date']).day
datedim['week'] = pd.DatetimeIndex(df['date']).week
datedim['dayofweek'] = pd.DatetimeIndex(df['date']).dayofweek
datedim['hour'] = pd.DatetimeIndex(df['date']).hour
datedim['minute'] = pd.DatetimeIndex(df['date']).minute
datedim['is_weekend'] = datedim['dayofweek'].apply(lambda x: 1 if x > 5 else 0)
datedim['date_id'] = datedim['year'].astype(str) + datedim['month'].astype(str)
datedim['date_id'] = datedim['date_id'].astype(str) + datedim['day'].astype(str)
datedim['date_id'] = datedim['date_id'].astype(str) + datedim['hour'].astype(str)
datedim['date_id'] = datedim['date_id'].astype(str) + datedim['minute'].astype(str)
datedim['date'] = datedim.date.astype(str)

datedim = datedim.drop_duplicates().sort_values('date')

insertDataToSQL(datedim.to_dict(orient='records'), 'DateDim')

C:\Users\juanj\AppData\Local\Temp\ipykernel_16064\2472161834.py:7: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  datedim['week'] = pd.DatetimeIndex(df['date']).week

Se han insertado 942 nuevos registros.

##### Insertamos Data de tipo de package

In [209]:
packages = [

'hobbyist',
'pro',
'tracker',
'trader'
]
a = 10
i = 0
package_data_real = []
for package in packages:
    package_data = {}

    package_data['name_package'] = package
    package_data['price'] = a
    package_data['package_id'] = i
    i += 1
    a += 10
    package_data_real.append(package_data)

#insertamos data en tabla packagetype 
insertDataToSQL(package_data_real, 'PackageType')

Se han insertado 4 nuevos registros.

##### Insertamos Data de country

In [210]:
countries.columns = countries.columns.str.lower()
countries.rename(columns={'iso_code':'ISO_code'}, inplace=True)
new_row = {'country_id': 0, 'country': 'Unknown', 'iso_code': '00', 'continent': 'Unknown'}
countries.append(new_row, ignore_index=True)
insertDataToSQL(countries.append(new_row, ignore_index=True).to_dict(orient='records'), 'Countries')

C:\Users\juanj\AppData\Local\Temp\ipykernel_16064\1322533448.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  countries.append(new_row, ignore_index=True)
C:\Users\juanj\AppData\Local\Temp\ipykernel_16064\1322533448.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  insertDataToSQL(countries.append(new_row, ignore_index=True).to_dict(orient='records'), 'Countries')

Se han insertado 197 nuevos registros.

##### Insertamos Data para Users

In [211]:
data_clientes = []
unique_users = df.drop_duplicates('user_id').reset_index()

for cliente in range(df.user_id.nunique()):
    clientProfile = fake.profile()
    try:
        country = countries.loc[countries['Country'] == df.loc[cliente, 'country'], 'country_id'].values[0]
    except:
        country = 0


    nuevo_cliente = {
        'user_id': unique_users.loc[cliente, 'user_id'],
        'first_name': clientProfile['name'].split(' ')[0],
        'last_name': clientProfile['name'].split(' ')[1],
        'email': clientProfile['mail'],
        'country_id': country
    }

    data_clientes.append(nuevo_cliente)

insertDataToSQL(data_clientes, 'Users')

Se han insertado 380 nuevos registros.

##### Insertamos Data de Discounts

In [212]:
import numpy as np
discounts = pd.DataFrame()
discounts['name_discount'] = df.discountCode.fillna('NoCode').drop_duplicates()
discounts['discount_id'] = range(len(discounts))
discounts['discount'] =  np.random.uniform(.2, .6, len(discounts)).round(2)

insertDataToSQL(discounts.to_dict(orient='records'), 'Discounts')

Se han insertado 248 nuevos registros.

### Creacion fact tables

In [213]:
postgres_driver = f"""postgresql://{config.get('RDS', 'DB_USER')}:{config.get('RDS', 'DB_PASSWORD')}@{RDS_HOST}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""    

query = 'select * from "DateDim"'
df_datedim = pd.read_sql(query, postgres_driver)

query = 'select * from "PackageType"'
df_packagetype = pd.read_sql(query, postgres_driver)

query = 'select * from "Countries"'
df_countries = pd.read_sql(query, postgres_driver)

query = 'select * from "Discounts"'
df_discounts = pd.read_sql(query, postgres_driver)

In [214]:
# adicion date_id
df_factTable = df.copy()

df_factTable['year'] = pd.DatetimeIndex(df_factTable['date']).year
df_factTable['month'] = pd.DatetimeIndex(df_factTable['date']).month
df_factTable['day'] = pd.DatetimeIndex(df_factTable['date']).day
df_factTable['hour'] = pd.DatetimeIndex(df_factTable['date']).hour
df_factTable['minute'] = pd.DatetimeIndex(df_factTable['date']).minute
df_factTable['date_id'] = df_factTable['year'].astype(str) + df_factTable['month'].astype(str)
df_factTable['date_id'] = df_factTable['date_id'].astype(str) + df_factTable['day'].astype(str)
df_factTable['date_id'] = df_factTable['date_id'].astype(str) + df_factTable['hour'].astype(str)
df_factTable['date_id'] = df_factTable['date_id'].astype(str) + df_factTable['minute'].astype(str)
factTable_purchases = df_factTable.drop(['year', 'month', 'day', 'hour', 'minute', 'date'], axis=1)

# adicion country_id
col = 'country'
factTable_purchases = countries[['country_id', col]].merge(factTable_purchases, on=col).drop([col], axis=1)

# adicion discount_id
col = 'name_discount'
idx = 'discount_id'
factTable_purchases = df_discounts[[idx, 'name_discount']].merge(factTable_purchases, right_on='discountCode', left_on='name_discount').drop(['discountCode', 'name_discount'], axis=1)

# adicion package_id
col = 'name_package'
idx = 'package_id'
factTable_purchases = df_packagetype[[idx, col]].merge(factTable_purchases, left_on=col, right_on='packageType').drop([col, 'packageType'], axis=1)


insertDataToSQL(factTable_purchases.to_dict(orient='records'), 'Purchases')

Se han insertado 434 nuevos registros.

In [215]:

query = 'select * from "Purchases"'
df_purchases = pd.read_sql(query, postgres_driver)

query = 'select * from "Users"'
df_users = pd.read_sql(query, postgres_driver)

In [216]:
df_purchases.merge(df_countries, on='country_id').merge(df_users.drop('country_id', axis=1), on='user_id', suffixes=['purchase']).merge(df_packagetype, on='package_id').merge(df_datedim, on='date_id')

,package_id,discount_id,country_id,purchase_id,user_id,date_id,ISO_code,continent,country,iso_code,...,date,year,month,quarter,day,week,dayofweek,hour,minute,is_weekend
0,0,0,170,26854356,google-oauth2|102267249947183414840,2021761433,CH,Europe,Switzerland,None,...,2021-07-06,2021,7,3,6,27,1,14,33,0
1,0,2,170,27406692,auth0|6100ea78bf7d12006a4f2b51,2021728530,CH,Europe,Switzerland,None,...,2021-07-28,2021,7,3,28,30,2,5,30,0
2,0,2,170,27681103,auth0|6006ccddde89ac0068baae8e,2021871146,CH,Europe,Switzerland,None,...,2021-08-07,2021,8,3,7,31,5,11,46,0
3,0,2,170,27924180,auth0|611a4f522b398300711535c2,20218161145,CH,Europe,Switzerland,None,...,2021-08-16,2021,8,3,16,33,0,11,45,0
4,0,2,170,24368291,auth0|603b4cdc137a240069f216f1,2021431532,CH,Europe,Switzerland,None,...,2021-04-03,2021,4,2,3,13,5,15,32,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2436,1,241,186,23945545,google-oauth2|106903182095735786843,2021319850,US,America,United States,None,...,2021-03-19,2021,3,1,19,11,4,8,50,0
2437,1,245,186,24105301,auth0|605bd7a7d2d0a7006f42e454,2021325041,US,America,United States,None,...,2021-03-25,2021,3,1,25,12,3,0,41,0
2438,2,26,62,25645756,google-oauth2|117418134050463439947,20215202245,DE,Europe,Germany,None,...,2021-05-20,2021,5,2,20,20,3,22,45,0
2439,2,26,62,25645852,google-oauth2|117418134050463439947,20215202251,DE,Europe,Germany,None,...,2021-05-20,2021,5,2,20,20,3,22,51,0
2440,2,26,62,25646108,google-oauth2|117418134050463439947,2021520237,DE,Europe,Germany,None,...,2021-05-20,2021,5,2,20,20,3,23,7,0

In [217]:
dimUsers = df_purchases.merge(df_countries, on='country_id').merge(df_users.drop('country_id', axis=1), on='user_id').merge(df_packagetype, on='package_id').merge(df_datedim, on='date_id')
dimUsers = dimUsers.drop(columns=['country_id', 'user_id', 'package_id', 'date_id', 'dscount_id'])
dimUsers

KeyError: "['dscount_id'] not found in axis"